.section {
  width: 100%;
  background-color: var(--dark-grey);
  border-radius: 30px;
  padding: 20px;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 20px; 
  font-weight: 700;
  color: var(--light-white);
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: -13.5px -10px;
}

.item {
  width: calc((100% / 2) - 20px); 
  margin: 13.5px 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.item:hover {
  transform: translateY(-5px);
}

.img {
  width: 100%;
  height: 208px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 8px;
}



.bookTitle {
  font-size: 14px;
  font-weight: 700;
  color: var(--light-white);
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookAuthor {
  font-size: 10px;
  color: var(--light-grey);
}

.pagination {
  display: flex;
  gap: 8px;
}

.pageBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px; 
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(249, 249, 249, 0.2);
  color: var(--light-white);
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0;
}

.pageBtn:hover:not(:disabled) {
  border-color: var(--light-white);
}

.pageBtn:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 32px;
  }
  .list {
    margin: -13.5px -12.5px;
  }
  .item {
    width: calc((100% / 4) - 25px);
    margin: 13.5px 12.5px;
  }
  .pageBtn {
    width: 40px;
    height: 40px;
  }

}

@media screen and (min-width: 1440px) {
  .section {
    padding: 40px;
  }
  .list {
    margin: -13.5px -10px;
  }
  .item {
    width: calc((100% / 5) - 20px);
    margin: 13.5px 10px;
  }
}

