.container {
  margin-bottom: 20px;
}

.label {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--light-white);
  margin-bottom: 8px;
  padding-left: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.inputsBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  width: 100%;
  padding: 14px;
  background-color: var(--secondary-grey);
  border-radius: 12px;
  border: 1px solid transparent;
  outline: none;
  color: var(-light-grey);            
  font-size: 14px;            
  font-weight: 500;           
  line-height: 1.28;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: border-color 250ms ease, color 250ms ease;
}

.input::placeholder {
  color: var(-light-grey);
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .input {
    max-width: 295px; 
  }
}

.input:focus {
  border-color: var(--gray);
  color: var(--light-white);
}

.button {
  padding: 10px 20px;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  background-color: transparent;
  color: var(--light-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  width: fit-content;
  cursor: pointer;
  transition: all 250ms ease;
  -webkit-font-smoothing: antialiased;
}

.button:hover {
  background-color: var(--light-white);
  color: var(--dark-grey);
  border-color: var(--light-white);
}

@media screen and (min-width: 768px) {
  .container {
    margin-bottom: 0;
    width: 295px; 
  }
  .form {
    gap: 20px;
  }
  .label {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 313px; 
  }
}