.container {
  margin-bottom: 20px;
}

.labelTitle {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--light-white);
  margin-bottom: 8px;
  padding-left: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  width: 100%;
  padding: 14px;
  background-color: var(--secondary-grey);
  border-radius: 12px;
  border: 1px solid transparent;
  outline: none;
  color: var(--light-white); 
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  transition: all 250ms ease;
}


.input::placeholder {
  color: var(-light-grey);
  opacity: 0.8; 
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
}

.input:focus {
  border-color: var(--gray);
}

.errorMsg {
  color: #e74a3b;
  font-size: 10px;
  padding-left: 14px;
  margin-top: 4px;
}

.submitBtn {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  background-color: transparent;
  color: var(--light-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  width: fit-content;
  cursor: pointer;
  transition: all 250ms ease;
}

.submitBtn:hover {
  background-color: var(--light-white);
  color: var(--dark-grey);
  border-color: var(--light-white);
}

@media screen and (min-width: 768px) {
  .container {
    /* margin-bottom: 0; */
    margin-right: 32px;
    width: 295px; 
  }
  .input {
    max-width: 295px; 
  }
  .labelTitle {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 313px; 
    margin-bottom: 62px;
  }
}