.widget {
  background-color: var(--secondary-grey);
  border-radius: 12px;
  padding: 20px;
  /* margin-top: 20px; */
}

.title {
  color: var(--light-white);
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}

.list {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.item {
  width: 71px;
  height: 107px;
}

.bookImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; 
  color: var(--light-grey);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
  text-decoration-line: underline;
  transition: color 250ms ease;
}

.link:hover {
  color: var(--light-white);
}

.icon {
  color: var(--light-white);
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1440px) {
  .widget {
    display: block;
    width: 313px;
  }
}