.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
}

.icon {
  width: 42px;
  height: 17px;
  display: block;
}

.logoText {
  display: none;  
  font-weight: 700;
  font-size: 18px;
  color: var(--light-white);
  text-transform: uppercase;
}


@media screen and (min-width: 768px) {
  .logoText {
    display: inline;
  }
}