/* Import modern-normalize */
@import "modern-normalize/modern-normalize.css";

/* Custom reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* main styles */
:root {
  --font-family: "Gilroy", sans-serif;
  --light-white: #f9f9f9;
  --gray: #5d5d5d;
  --light-grey: #686868;
  --secondary-grey: #262626;
  --dark-grey: #1f1f1f;
  --main: #040202;
  --blue: #4F92F7;
  --green: #30B94D;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--font-family);
  background-color: var(--main);
}
